<header class="header">
  <div class="left">
    <!-- logo + name + slogan -->
    <img src="assets/cm_logo.png" alt="CaloriMeter Logo" />

    <div class="brand">
      <h1 class="logo">CALORIMETER</h1>
      <span class="subtitle">CALIBRATE · CONTROL · CRUSH</span>
    </div>
  </div>

  <div class="right">
    <!-- streak + profile -->
    <div class="streak-badge">🔥 {{ streakCount }}</div>
    <div class="avatar" [title]="userName" (click)="goToProfile()">
      <!-- user img that shows username on hovering-->
      <img [src]="userPhoto" alt="User Logo" />
    </div>
  </div>
</header>
